<!DOCTYPE html>
<html>
  <% include ./partials/navbar.ejs %>
  <head>
    <title><%= title %></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="container">
      <% for(i = 0; i < rings.length; i++){ %>
        <div class = "item">
          <div class = "ring-item">
            <a href="browse/<%= rings[i].name %>"><strong><%= rings[i].name %></strong></a>
            <a href="browse/<%= rings[i].name %>"><img src = <%= rings[i].image %> /></a>
            <p><%= rings[i].description %></p>
          </div>
        </div>
      <% } %>
    </div>

  </body>
</html>
