<!DOCTYPE html>
<html>
  <% include ./partials/navbar.ejs %>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="container">
        <div class = "item">
          <div class = "ring-item">
            <a href="/<%= item.name %>"><strong><%= item.name %></strong></a>
            <img src = <%= item.image %> />
            <p><%= item.description %></p>
          </div>
        </div>
    </div>

  </body>
</html>
